apiVersion: apps/v1
kind: Deployment
metadata:
  name: testappgyver
  labels:
    app: testappgyver
spec:
  replicas: 1
  selector:
    matchLabels:
      app: testappgyver
  template:
    metadata:
      labels:
        app: testappgyver
    spec:
      containers:
        - name: testappgyver
          image: XXXXX/testappgyver #change it to your image
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: testappgyver
  labels:
    app: testappgyver
spec:
  ports:
    - name: http
      port: 80
  selector:
    app: testappgyver